<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统管理
            <small>用户管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="项目编码/项目名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="username" label="姓名" align="center"></el-table-column>

                <el-table-column prop="roles" label="角色" align="center"></el-table-column>
                <el-table-column prop="auth" label="权限" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增用户" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <!--名称-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户名称" prop="username">
                                    <el-input v-model="formData.username"/>
                                </el-form-item>
                            </el-col>
                        </el-row>


                        <!--角色-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户角色" prop="roles">
                                    <el-input v-model="formData.roles"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <!--权限-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户权限" prop="auth">
                                    <el-input v-model="formData.auth"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑用户" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <!--名称-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <!--密码-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="密码" prop="password">
                                    <el-input v-model="formData.password"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <!--角色-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户角色" prop="name">
                                    <el-input v-model="formData.role"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <!--权限-->
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户权限" prop="name">
                                    <el-input v-model="formData.auth"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                password: [{required: true, message: '密码为必填项', trigger: 'blur'}],
                name: [{required: true, message: '用户名为必填项', trigger: 'blur'}],
                role: [{required: true, message: '角色为必填项', trigger: 'blur'}],
                auth: [{required: true, message: '权限为必填项', trigger: 'blur'}]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage()
        },
        methods: {
            //编辑
            handleEdit() {
                //1.表单校验
                this.$refs['dataEditForm'].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible4Edit = false;
                        //2.发送请求 formData
                        axios.post('/user/edit', this.formData).then(res => {
                            //3.隐藏窗口 成功失败提示
                            if (res.data.flag) {
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                //4.分页查询
                                this.findPage();
                            }
                            else {
                                this.$message.error(res.data.message);
                            }
                        }).catch((r) => {
                            this.showMessage(r);
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //添加
            handleAdd() {
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        axios.post("/user/addUser", this.formData).then((res) => {
                            this.dialogFormVisible = false
                            if (res.data.flag) {
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                            } else {
                                this.$message.error(res.data.message);
                            }
                        }).catch(r => {
                            this.showMessage(r)
                        }).finally(() => {
                            this.findPage();
                        });
                    } else {
                        this.$message.error("表单数据校验失败");
                        return false;
                    }
                })
            },

            //分页查询
            findPage() {
                var params = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                }
                axios.post("/user/findPage", params).then((res) => {
                    this.dataList = res.data.rows;
                    this.pagination.total = res.data.total;
                }).catch((r) => {
                    this.showMessage(r);
                });
            },
            // 重置表单
            resetForm() {
                this.formData = {}
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm()
                this.dialogFormVisible = true
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                axios.post("/user/findByID?id=" + row.id).then((res) => {
                    //为模型数据设置值，基于VUE双向数据绑定回显到页面
                    this.formData = res.data.data;
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage
                this.findPage()
            },
            // 删除
            handleDelete(row) {
                this.$confirm('此操作将永久当前数据，是否继续?', '提示', {
                    type: 'warning'
                }).then(() => {
                    //点击确定按钮执行此代码
                    axios.post("/user/deleteUserById?id=" + row.id).then((res) => {
                        if (!res.data.flag) {
                            //删除失败
                            this.$message.error(res.data.message);
                        } else {
                            //删除成功
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                            this.findPage();
                        }
                    }).catch((r) => {
                        this.showMessage(r);
                    });
                }).catch(() => {
                    //点击取消按钮执行此代码
                    this.$message('操作已取消');
                });
            },
            showMessage(r) {
                if (r == 'Error: Request failed with status code 403') {
                    //权限不足
                    this.$message.error('无访问权限');
                    return;
                } else {
                    this.$message.error('未知错误');
                    return;
                }
            }
        },

    })

</script>

</html>